/* html { overflow-x: hidden; } */
body{
	font-family: "inter";
   background-color: #fff;
}
.container-fluid{
	max-width: 1920px;
	padding-left: 0;
	padding-right: 0;
}
ul{
	list-style-type: none;
}
header{
	position: relative;
}
button.btn{
	background: linear-gradient(#7A0000, #990000);
	border: none;
	border-radius: 3px;
	color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
	color: #000;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #7A0000;
}
.row{
	margin-left: 0;
	margin-right: 0;
}
input:focus {
	outline: none; 
}
select:focus {
	outline: none; 
}
.modal-header{
   position: relative;
   background-color: #121212;
   color: #fff;
   justify-content: center;
   align-items: center;
}
.close{
   position: absolute;
   right: 20px;
   top: 0;
   bottom: 0;
   color: #fff;
   font-weight: lighter;
   text-shadow: none;
   opacity: 1;
}
.close:hover{
   color:#fff;
}
.modal-footer{
   border-top: none;
}
textarea:focus{
	outline: none;
}
.active-link{
   color: red;
}
/*.modal-backdrop{
   top: 139px;
}*/
.modal-dialog {
   margin-top: 84px;
}
/*.maxht{
   max-height: 62%;
}*/
.mim {
   width: 63%;
}