.cart{
   position: relative;
   width: 35px;
   cursor: pointer;
}
.basket-length{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 0;
   top: -3px;
   padding: 0 14%;
   border-radius: 50%;
   font-size: 9px;
   background-color: red;
   color: #fff;
   z-index: 10;
}
.remove{
   font-size: 18px;
}

.div-basket-item{
   display: flex;
   justify-content: space-between;
   border-top: 1px solid #000;
   padding: 3.5% 0;
   position: relative;
}
.div-basket-item-img{
   width: 50px;
   min-height: 110px;
}
.div-basket-item-img img{
   width: 100%;
}
.div-basket-item-img-count{
   display: flex;
}
.count-basket{
   position: absolute;
   bottom: 9%;
}
.div-product-name{
   width: 250px;
   font-weight: 500;
   font-size: 18px;

}
.div-product-name-count{
   padding-left:4%;
}
.p-price-product{
   position: absolute;
   bottom: 0;
   right: 0;
   font-family: "InterSamy";
   font-size: 17px;
   display: flex;
   align-items: end;
   flex-direction: column;
}
.remove{
   cursor: pointer;
}
.modal-futer-div{
   display: block;
   padding: 0 7%;
}
.modal-futer-div hr{
   background-color: #000;
}
.basket-btn-div{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5% 0;
}
.basket-btn-div button{
   padding: 2% 10%;
}
.basket-btn-div button a{
   color: #fff;
   text-decoration: none;
}
.div-all-price{
   display: flex;
   justify-content: space-between;
   padding-top: 2%;
}
.all-price{
   font-family: "InterSamy";
   font-size: 18px;
}
.prise-flex1 h3{
   font-size: 18px;
   font-family: "InterSamy";
}
.prise-flex1 p{
   width: 70%;
   font-size: 15px;
}
.modal-body-basket{
   padding: 5% 7% 0 7%;
}
.modal-dialog-basket {
   max-width: 40%;
   margin-left: 60%;
   margin-top: 84px;
}
.count-basket .div-count-h5{
   padding: 8.5% 100%;
}
.basket-aps{
   display: flex;
   justify-content: center;
   align-items: center;
}
.div-basket-item a{
   color: #000
}
@media (max-width: 1199px){
	.modal-dialog-basket {
      max-width: 60%;
      margin-left: 40%;
   }
}
@media (max-width: 991px){
	.modal-dialog-basket {
      max-width: 70%;
      margin-left: 30%;
   }
   .prise-flex1 p {
      font-size: 12px;
    }
}
@media (max-width: 768px){
	.modal-dialog-basket {
      max-width: 90%;
      margin-left: 10%;
   }
}
@media (max-width: 575.98px){
	.modal-dialog-basket {
      max-width: 98%;
      margin: 0 1%;
      margin-top: 60px;
   }
   .p-price-product{
      font-size: 14px;
   }
   .div-product-name{
      width: 200px;
      font-size: 15px;
   
   }
}
@media (max-width: 409.98px){
   .p-price-product{
      font-size: 12px;
   }
   .div-product-name{
      font-size: 12px;
   
   }
   .prise-flex1 p {
      font-size: 10px;
    }
}
