
div.imgafterslider img{
	width: 100%;
}
.imgafterslider{
	margin: 5px 0;
	position: relative;
} 
.imgafterslidercenter1{
	margin-right: 3px;
}
.imgafterslidercenter2{
	margin-left: 1.5px;
	margin-right: 1.5px;
}
.imgafterslidercenter3{
	margin-left: 3px;
}
.img-after-slider-absolute{
	position: absolute;
	top: 0;
	text-transform: uppercase;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.35);
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 1.65vw;
	display: flex;
	flex-grow: wrap;
	align-items: center;
	justify-content: center;
}
.img-after-slider-absolute div.divimg-tenutalogo{
	width:22%;
	height: 22.5%;
	position: absolute;
	bottom: 2.5%;
	left: 1%;
}
div.arr-white-div{
	border: 1px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	bottom: 5.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10.5%;
	height: 26%;
	position: absolute;
	right: 3.2%;
}
.img-after-slider-absolute div img.arr-white{
	width: 60%;
}
.img-after-slider-absolute div img.tenuta-logo{
	width: 100%;
}
.after-slider-col div{
	overflow: hidden;
}
.after-slider-col div:hover div.imgafterslider img.img-bigger{
	transform: scale(1.3);
	transition: .5s;
}
.div-img-main{
	width: 100%;
	position: relative;
}
.div-img-main img{
	width: 100%;
}
.main-h2{
	margin-top: 20%;
	margin-bottom: 8%;
	font-size: 2.5vw;
	font-family: "Cormorant";
	text-transform: uppercase;

}
.main-h2-1{
	margin-top: 6.5%;
	margin-bottom: 2%;
}
h4{
	font-size: 1vw;
	margin-top: 2%;
}
.p-main{
	margin-top: 92%;
	margin-bottom: 65%;
	font-size: .85vw;
}
.p-main-2{
	margin-top: 58%;
	margin-bottom: 65%;
}
.main-bg-img{
	background-image: url("./img/wine.png");
	background-repeat: no-repeat;
	background-position: right 68%;
	background-size: 16.5%;
}
.arr-white-div-man{
	border: 1px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	bottom: 4.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10.5%;
	height: 12%;
	position: absolute;
	right: 5%;
}
.arr-white-div-man img.arr-white-man{
	width: 60%;
}
.p-article{
	margin-top: 75.8%;
	font-size: .835vw;
}
.a-delivery{
	color: #7A0000;
	border: #7A0000 1px solid;
	border-radius: 50%;
	font-size: 0.83vw;
	padding: 7% 10%;
	cursor: pointer;
   display: block;
   
   text-align: center;
}
.a-delivery:hover{
	text-decoration: none;
	color:crimson;
}
.div-delivery{
	margin-top: 78%;

}
.article-bg-img{
	background-image: url("./img/wineleft.png");
	background-repeat: no-repeat;
	background-position: left 26.7%;
	background-size: 33%;
}
.iframe{
	width:100%;
	height: 571px; 
	border: none;
}
.telegramm-section{
	z-index: 2;
}

@media (max-width: 1500px){
	.iframe{
		height: 471px; 
	}
}

@media (max-width: 1200px) {
	h4{
		font-size: 1.4vw;
	}
	.p-main{
		font-size: 1vw;
	}
	.p-article{
		font-size: 1vw;
	}
	.iframe{
		height: 371px; 
	}
}
@media (max-width: 991.98px){
	.iframe{
		height: 300px; 
	}
}
@media (max-width: 767.98px) {
	.imgafterslider{
		max-height: 150px;
	}
	.iframe{
		height: 250px; 
	}
}