
.carusel-reletiv-div{
	position: relative;
	width: 100%;
}
.bacground-div{
	background: linear-gradient(to left, #780A2B 0%, #100005 160%);
	color:#fff;
	position: absolute;
	height: 100%;
	width: 46%;
	right: -4%;
	top: 0;
	transform: skew(-20deg);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.carousel-control-next, .carousel-control-prev{
	z-index: 2;
	width: 7%;
}
.arr-div{
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 50%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 6%;
	justify-content: center;
	width: 36%;
	height: 11%;
	
}
.arr-div img{
	width: 100%;
}
.special-offer{
	font-family: "AlexBrush";
	font-size: 50px;
	text-align: center;
}
.glasses-сandles{
	Text-transform: uppercase;
	font-size: 56px;
	text-align: center;
}
.bacground-div-text{
	transform: skew(20deg);
	margin-right: 20%;
}
.set-wine{
	font-size: 14px;
	Text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
}
.carousel-indicators li {
	width: .38vw;
	height: .4vw;
	margin-right: 0.5%;
	margin-left: 0.5%;
	border-radius: 50%;
}
ul.carousel-indicators {
   margin-block-end: .65%;
}
.carousel-indicators .active {
	background-color: #9D0000;
}

@media (max-width: 1400px){
   .special-offer{
      font-size: 42px;
   }
   .glasses-сandles{
      font-size: 48px;
   }
   .set-wine{
      font-size: 11px;
   }
}
@media (max-width: 1199.98px){
   .special-offer{
      font-size: 35px;
   }
   .glasses-сandles{
      font-size: 40px;
   }
   .set-wine{
      font-size: 10px;
   }
}
@media (max-width: 991.98px){
   .special-offer{
      font-size: 30px;
      margin-bottom: -5px;
   }
   .glasses-сandles{
      font-size: 35px;
   }
   .set-wine{
      font-size: 10px;
   }
   .arr-div{
      width: 72%;
      height: 22%;
   }
}
@media (max-width: 767.98px){
   .special-offer{
      font-size: 25px;
   }
   .glasses-сandles{
      font-size: 30px;
   }
   .set-wine{
      display: none;
   }
}
@media (max-width: 575.98px) {
	.special-offer{
      font-size: 20px;
   }
   .glasses-сandles{
      font-size: 22px;
   }
}
@media (max-width: 406px) {
	.special-offer{
      font-size: 17px;
   }
   .glasses-сandles{
      font-size: 19px;
   }
}
@media (max-width: 320px) {
	.special-offer{
      font-size: 15px;
   }
   .glasses-сandles{
      font-size: 16px;
   }
}
	


