.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
}
.article-simple-slider .slick-slide{
	overflow: hidden;
	margin-right: 5px;
}
.slick-slider{
	min-width: 0px;
}
.article-simple-slider .slick-arrow{
   top: -16.5%;
}
.article-simple-slider .slick-arrow.slick-prev{
	left: 82%;
	background-size: 100%;
}
.slick-prev:before {
   background-image: url('./img/arrrow_l.png');
}
.slick-next:before {
	background-image: url('./img/arrrow_r.png');
}
.slick-prev:before,
.slick-next:before{
   background-repeat: no-repeat;
   background-size: 100%;
   display: inline-block;
   width: 54px; 
   height: 54px;
   content: " ";
}
.article-simple-slider .slick-arrow.slick-next{
	right: 12%;
}
.div-img-slider img{
	width: 100%;
}
.slider-gifts{
	margin-top: 5%;
	margin-bottom: 7%;
}
.slider-gifts div.slick-slide{
	border: 3px solid rgba(164, 164, 164, 0.15);
	margin-right: 12px;
	background-color: #fff;
}

.slider-gifts div.slick-slide:hover{
	border: none;
	box-shadow:-1px 1px 10px 3px rgba(34, 60, 80, 0.19) inset;
   cursor: pointer;
}
.slider-gifts-div-img img{
	width: 100%;
}
.h4-slider-gifts{
	font-family: "InterSamy";
	font-size: 19px;
	margin-bottom: 5%;
	padding-left: 4%;
}
.p-slider-gifts{
	padding-left: 4%;
   font-size: 16px;
}
.ul-slider-gifts{
	list-style-type:inherit;
	padding-bottom: 5%;
}
.ul-slider-gifts li{
	font-size: 14px;
}

@media (max-width: 1530px){
   .article-simple-slider .slick-arrow.slick-prev{
      left: 81%;
   }
   .h4-slider-gifts{
      font-size: 17px;
   }
   .p-slider-gifts{
      font-size: 16px;
   }
   .ul-slider-gifts li{
      font-size: 12px;
   }
}
@media (max-width: 1289px){
   .h4-slider-gifts {
      margin-bottom: 2%;
      font-size: 15px;
    }
    .p-slider-gifts {
      font-size: 14.5px;
    }
    .ul-slider-gifts {
      padding-left: 6.5%;
      padding-bottom: 3%;
    }
    .ul-slider-gifts li{
      font-size: 11px;
   }
}
@media (max-width: 1199px){
   .article-simple-slider .slick-arrow.slick-prev{
      left: 79%;
   }
   .slick-prev:before,
   .slick-next:before{
      width: 44px; 
      height: 44px;
   }
   .slider-gifts.article-simple-slider .slick-arrow{
      top: -12%;
   }
   .h2-gift{
      margin-bottom: 0;
   }
}
@media (max-width: 991.98px){
   .slick-prev:before,
   .slick-next:before{
      width: 34px; 
      height: 34px;
   }
   .h4-slider-gifts {
      margin-bottom: 3%;
      font-size: 2vw;
    }
    .p-slider-gifts {
      font-size: 16px;
      margin-bottom: 2%;
    }
    .ul-slider-gifts li{
      font-size: 11px;
   }
}
@media (max-width: 767.98px){
   .article-simple-slider .slick-arrow.slick-prev{
      left: 75%;
   }
    .p-slider-gifts {
      font-size: 14px;
    }
    .ul-slider-gifts li{
      font-size: 9px;
   }
}
@media (max-width: 575.98px){
   .article-simple-slider .slick-arrow.slick-prev{
      left: 72%;
   }
   .h4-slider-gifts {
      margin-bottom: 2%;
      font-size: 3.5vw;
    }
    .p-slider-gifts {
      font-size: 16px;
    }
    .ul-slider-gifts li{
      font-size: 10px;
   }
   .slider-gifts.article-simple-slider .slick-arrow{
      top: -8%;
   }
   .h2-gift{
      margin-bottom: 5%;
   }
}
@media (max-width: 420.98px){
   .article-simple-slider .slick-arrow.slick-prev{
      left: 70%;
   }
   .slick-prev:before,
   .slick-next:before{
      width: 30px; 
      height: 30px;
   }
   .h4-slider-gifts {
      font-size: 13px;
    }
    .p-slider-gifts {
      font-size: 13px;
    }
    .ul-slider-gifts li{
      font-size: 9px;
   }
   .ul-slider-gifts {
      padding-bottom: 0;
    }
}
@media (max-width: 320.98px){
   .article-simple-slider .slick-arrow.slick-prev{
      left: 68%;
   }
   .slick-prev:before,
   .slick-next:before{
      width: 28px; 
      height: 28px;
   }
   .h2-gift{
      margin-bottom: 7%;
   }
}
