.telegramm-div{
	box-shadow: -6px 7px 32px 9px rgba(34, 60, 80, 0.1);
	display: flex;
	background-color: #fff;
	z-index: 100;
	justify-content: center;
	margin-top: 11%;
	margin-bottom: -11%;
}
.telegramm-form{
	background-image: url("./../pages/pageHome/img/bgForm.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	flex: 1;
}
.telegramm-form div.telegramm-form-div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.telegramm-div-img{
	flex: 1;
}
.telegramm-div img{
	width: 100%;
}
.telegramm-h2{
	margin-top: 18%;
	margin-bottom: 13%;
	font-size: 1.7vw;
	text-align: center;
}
div.telegramm-form-div-div input{
	border: none;
	background-color:#F4F4F4;
	font-size: .9vw;
	padding: 3.8%;
	margin-bottom: 5%;
	width: 100%;
}
.telegramm-form-div-div{
	width: 73%;
}
div.telegramm-form-div-div textarea{  
	padding: 3.8% 0 33% 3.8%;
	width: 100%;
	border: none;
	background-color:#F4F4F4;
	margin-bottom: 6%;
	font-size: .9vw;
	resize: none;
}
div.telegramm-form-div-div button{
	width: 50%;
	margin-left: 25%;
}
@media (max-width: 1199.98px) {
	div.telegramm-form-div-div input{
		font-size: 15px;
	}
	div.telegramm-form-div-div textarea{  
		font-size: 15px;
	}
	.telegramm-h2{
		font-size: 25px;
	}
   div.telegramm-form-div-div input{
		font-size: 15px;
	}
	div.telegramm-form-div-div textarea{  
		font-size: 15px;
	}
}
@media (max-width: 991.98px){
   .telegramm-h2{
		font-size: 20px;
	}
   div.telegramm-form-div-div input{
		font-size: 13.5px;
	}
	div.telegramm-form-div-div textarea{  
		font-size: 13.5px;
	}
}
@media (max-width: 767.98px){
   .telegramm-div{
      margin-bottom: 10%;
      padding-bottom: 10%;
   }
   .telegramm-div-img{
      display: none;
   }
   .telegramm-h2 {
      margin-top: 10%;
      margin-bottom: 7%;
      font-size: 19px;
   }
}
@media (max-width: 390.98px){
   .telegramm-h2{
		font-size: 17px;
	}
   div.telegramm-form-div-div input{
		font-size: 11.5px;
	}
	div.telegramm-form-div-div textarea{  
		font-size: 11.5px;
	}
}
@media (max-width: 320.98px){
   .telegramm-h2{
		font-size: 16px;
	}
   div.telegramm-form-div-div input{
		font-size: 11px;
	}
	div.telegramm-form-div-div textarea{  
		font-size: 11px;
	}
   div.telegramm-form-div-div button {
      width: 55%;
      margin-left: 20%;
    }
}
