.checkout{
	border: none;
	font-weight: 500;
	width: 80%;
	font-size: .85vw;
	height: 50px;
}
.btn-primary:focus {
	background-color: #630101;
	border-color: #640303;
	box-shadow: 0 0 0 0.2rem #640303;
}
.btn-primary:focus-visible {
	background-color: #630101;
	border-color: #640303;
}
.btn-primary:not(:disabled):not(.disabled):active{
	background-color: #630101;
	border-color: #630101;
}
.btn-primary:hover {
	color: #fff;
	background-color: #630101;
	border-color: #630101;
}
.colcheckout{
	display: flex;
	justify-content: center;
}
@media (max-width: 1598px) {
	.checkout{
		font-size: 1vw;
	}
}
@media (max-width: 1313px){
	.checkout{
		font-size: 1.1vw;
	}
}
@media (max-width: 1199.98px){
	.checkout{
		font-size: 1.4vw;
		width: 100%;
	}
}
@media (max-width: 991.98px) {
	.checkout{
		font-size: 1.5vw;
		width: 80%;
	}
	.colcheckout{
		/* padding-right: 10%; */
	}
}
@media (max-width: 767.98px) {
	.colcheckout{
		display: none;
	}
}
/* @media (max-width: 575.98px) {
	.colcheckout{
		display: none;
	}
} */



