.bag{
	background-color: #121212;
	height: 84px;
	position: relative;
}
.logoimg{
	padding-left: 3.5%;
}
.logoimg div img{
	width: 100%;
}
@media (max-width: 575.98px) {
	.bag{
		height: 60px;
	}
}
@media (max-width: 320px) {
	.bag{
		height: 50px;
	}
	.logoimg{
		padding-left: 1.5%;
		padding-top: 3%;
	}
}




