.my{
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: .85vw;
}
.my img{
	width:3.5%;
}
.my:hover{
	color: #fff;
}
.divamy{
	width: 100%;
}
.phone{
	display: none;
	width: 50px;
}
.phone img{
	width: 100%;
}
@media (max-width: 1598px) {
	.my{
		font-size: 1vw;
	}
}
@media (max-width: 1313px){
	.my{
		font-size: 1.1vw;
	}
}
@media (max-width: 1199px){
	.my{
		font-size: 1.4vw;
	}
	.my img{
		width: 4.5%;
	}
}
@media (max-width: 991px){
	.divamy{
		display: none;
	}
	.phone{
		display: block;
		float: left;
	}
	
}
@media (max-width: 575.98px) {
	.phone{
		display: none;
	}
}

