.div-hurt{
	display: flex;
	justify-content: end;
   position: relative;
}
.favorite-length{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 5%;
   top: -25%;
   padding:  0 2.8%;
   border-radius: 50%;
   font-size: 9px;
   background-color: red;
   color: #fff;
}

@media (max-width: 767.98px){
	.col-favorite{
      padding-left: 11.5%;
   }
}
@media (max-width: 575.98px) {
	.col-favorite{
      padding-left:15%;
   }
}
@media (max-width: 460px) {
	.col-favorite{
      padding-left: 10%;
   }
}
@media (max-width: 350px) {
	.col-favorite{
      padding-left: 7%;
   }
}
@media (max-width: 320px) {
	.col-favorite{
      padding-left: 0;
   }
}