.hurt{
   position: relative;
   width: 35px;
   cursor: pointer;
}
.col-favorite{
   display: flex;
	justify-content: end;
   position: relative;
}
.favorite-length{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 2px;
   top: -5px;
   padding: 0 15%;
   border-radius: 50%;
   font-size: 9px;
   background-color: red;
   color: #fff;
   z-index: 10;
}

@media (max-width: 767.98px){
	.col-favorite{
      padding-left: 11.5%;
   }
}
@media (max-width: 575.98px) {
	.col-favorite{
      padding-left:15%;
   }
}
@media (max-width: 460px) {
	.col-favorite{
      padding-left: 10%;
   }
}
@media (max-width: 350px) {
	.col-favorite{
      padding-left: 7%;
   }
}
@media (max-width: 320px) {
	.col-favorite{
      padding-left: 0;
   }
}